body {
    background: url("../img/texture_07.jpg");
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    padding: 80px 0;
}

h1, h2, h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.caixa_cabecalho {
    position: relative;
    width: 1350px;
    margin: 0 auto;
}

.title {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

nav {
    position: absolute;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #000000;
    font-size: 16px;
    text-decoration: underline;
    text-decoration: none;
}

.sobre {
    text-align: justify;
    width: 940px;
    margin: 0 auto;
    padding: 5% 0;
}

.experiencias {
    text-align: justify;
    width: 940px;
    margin: 0 auto;
    padding: 5% 0;
}

.now {
    text-align: justify;
    width: 940px;
    margin: 0 auto;
    padding: 5% 0;
}

.now_lista {
    width: 940px;
    margin: 0 auto;
    padding: 5% 0;
}

.now_lista li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 240px;
    vertical-align: top;
    background-color: #FFFFFF;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px 20px 30px 40px;
    transition: 0.5s all;
}

.now_lista h3{
    color: #000000;
}

.now_lista p{
    color: #000000;
}

.now_lista li:hover {
    border-color: #FFFFFF;
    background: url("../img/texture_08.jpg");
    transform: scale(1.05);
}

.now_lista li:active {
    border-color: #000000;
}

.now_lista li:hover h3 {
    color: #FFFFFF;
}

.now_lista li:hover p {
    color: #FFFFFF;
}

footer {
    text-align: center;
    padding: 40px 0;
}

footer h3 {
    color: #FFFFFF;
}